.blueviolet{
    background-color: blueviolet;
    color:white;
}
.aqua{
    background-color:aqua;
    color:white;
}
.blue{
    background-color:blue;
    color:white;
}
.coral{
    background-color:coral;
    color:white;
}