{% extends 'adminlayout.html'%}
{% load static%}
{% block title%}
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-6">
            <img src="{% static 'images\admin.jpg'%}" class="img img-thumbnail w-100" alt="">
        </div>
        <div class="col-sm-6">
            <h1>Admin page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi explicabo, vero sit alias, minus iste architecto veritatis eveniet assumenda sequi vel provident 
                ducimus expedita voluptatibus neque nihil reprehenderit? Autem, voluptatum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi explicabo, vero sit alias, minus iste architecto veritatis eveniet assumenda sequi vel provident 
                    ducimus expedita voluptatibus neque nihil reprehenderit? Autem, voluptatum!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi explicabo, vero sit alias, minus iste architecto veritatis eveniet assumenda sequi vel provident 
                        ducimus expedita voluptatibus neque nihil reprehenderit? Autem, voluptatum!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi explicabo, vero sit alias, minus iste architecto veritatis eveniet assumenda sequi vel provident 
                            ducimus expedita voluptatibus neque nihil reprehenderit? Autem, voluptatum!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi explicabo, vero sit alias, minus iste architecto veritatis eveniet assumenda sequi vel provident 
                                ducimus expedita voluptatibus neque nihil reprehenderit? Autem, voluptatum!</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi explicabo, vero sit alias, minus iste architecto veritatis eveniet assumenda sequi vel provident 
                                    ducimus expedita voluptatibus neque nihil reprehenderit? Autem, voluptatum!</p>
        </div>

    </div>
</div>
{% endblock%}