<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><img src="{% static 'tick.gif' %}" width="800" height="500" alt=""></center>
    <h1 style="font-size:300%; font-size-adjust: inherit; text-align: center;color:rgb(37, 136, 136);">Thank You !!</h1>
    <h2 style="font-size:250%;text-align: center;">Your submission has been received</h2>
</body>
</html>